---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="flex flex-col p-10 items-center gap-5">
		<h1 class="text-white text-5xl text-center">Hearts of Lead</h1>
		<div class="flex flex-row gap-5">
			<img src="https://d3i6fh83elv35t.cloudfront.net/newshour/app/uploads/2017/07/GettyImages-541320861-1024x683.jpg" class="h-72 rounded-xl">
		</div>
		<button class=" bg-cyan-500 rounded-lg w-36 h-16">
			Create New Game
		</button>
		<hr>
		<h1 class="text-white text-2xl text-center">
			Join existing game
		</h1>
	</div>
</Layout>
